.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh 0;
    height: 100vh;
    width: 100vw;

    app-order-status {
        width: 90%;
    }

    app-logo {
        width: 12vh;
        height: 8vh;
        margin: 2.5vh 0;

        svg {
            fill: $foreground;
        }
    }

    &__identifier {
        display: flex;
        flex-direction: column;
        gap: 2vh 0;
        margin-top: 8vh;
        font-family: 'Nunito';

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 2vh;
            max-width: 45vh;
            gap: 0 1vh;
            background-color: $foreground-disabled;
            border-radius: 14px;
            color: $foreground;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25vh, 1fr));
        gap: 2.5vh;
        height: 100%;
        width: 85%;
        padding: 2.5vh;
        overflow: hidden;
        overflow-y: auto;
    }

    &__item {
        display: flex;
        flex-direction: row;
        border-radius: 14px;
        height: 15vh;
        overflow: hidden;
        font-family: 'Nunito';

        -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

        &-count {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-grow: 1;
            background-color: #f1e6c7;
            color: $foreground;

            -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        }

        &-name {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-grow: 3;
            background-color: #ecd9aa;
            color: $foreground-bright;
        }
    }
}

@media (min-width: 821px) {
    .order {
        &__identifier {
            flex-direction: row;
            gap: 0 2vh;
        }
    }
}
