.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    app-logo {
        margin: 0 auto;
        align-self: flex-end;
        height: clamp(10vh, 10vh + 1rem, 15vh);
        width: clamp(15vh, 10vh + 1rem, 20vh);

        & svg {
            fill: $foreground-disabled;
            opacity: 1;
        }
    }

    &__title {
        font-family: 'Nunito';
        font-size: clamp(6vh, 6vh + 1.2rem, 8vh);
        font-weight: bold;
        text-align: center;
        color: $foreground;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        margin: auto 0;
    }
}
